<mat-card class="card mat-elevation-z8">

    <mat-card-header>
      <mat-card-title> </mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>

    <mat-card class="example-card-1">
      <mat-card-header>
          <div mat-card-avatar></div>
          <mat-card-title>Motor Hilux 2018</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://http2.mlstatic.com/D_NQ_NP_654504-MLB48781605739_012022-O.jpg" alt="">
      <mat-card-content>
          <p>
            Uma das grandes novidades apresentadas pela nova geração da picape, e mantida pela Hilux 2018, era o novo motor diesel. Saía de cena o antigo 3.0 para dar lugar ao 2.8, seguindo a tendência de downsizing.

            Esse propulsor de 2.8 litros é longitudinal, com turbocompressor e injeção direta. Seu turbo de geometria variável (ou TGV) melhorava consideravelmente o desempenho e o consumo. Além disso, ele tinha 4 cilindros em linha e 16 válvulas.
          </p>
      </mat-card-content>
  </mat-card>

    <mat-card-content>
    </mat-card-content>
    
  </mat-card>

  <mat-divider></mat-divider>
   
<div>
  <app-footer></app-footer>
</div>